* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(49, 57, 57);
}
span {
    text-align: center;
}
p {
    text-align: center;
}


.container {
    margin: 10px auto;
    width: 950px;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}
header{
    width: 100%;
    height: 100px;
    background-color: #4c9998;
}
.nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 7px;
    width: 165px;
    height: 80px;
}
.logo_down{
    width: 113px;
    height: 80px;
}
.nav_list{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 25px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: #0f3f3e;
    transition: color 0.5s;
}
a:hover {
    color: #cc881b;
}

.main-content {
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 80%;
}
.avatar {
    width: 300px;
    height: 300px;
}
.avatar-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-information {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bunner-block {
    height: 400px;
    width: 80%;
}
.bunner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bunner-block-2 {
    
    height: 400px;
    width: 80%;
}