* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(49, 57, 57);
}







.container {
    margin: 10px auto;
    width: 950px;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}
header{
    width: 100%;
    height: 100px;
    background-color: #4c9998;
}
.nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 7px;
    width: 165px;
    height: 80px;
}
.logo_down{
    width: 113px;
    height: 80px;
}
.nav_list{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 25px;
    font-weight: 600;
}

.avatar {
    object-fit: cover;
    width: 200px;
    height: 300px;
}
.avatar-photo{
    height: 100%;
    width: 100%;
}